    /* @font-face{
        font-family:"Nexa Text W03 Book";
        src:url("./nexa/5936831/cf7ffc2c-ef51-44ba-8223-d6f7d64f47ce.woff2") format("woff2"),url("./nexa/5936831/f9f944c1-3117-4d29-afb6-4354db045755.woff") format("woff");
    } */
    /* @font-face{
        font-family:"Nexa Text W03 Book Italic";
        src:url("./nexa/5936893/72b71f18-dbb0-4fda-887b-35e03b7a36a2.woff2") format("woff2"),url("./nexa/5936893/8f6543e9-3a70-47bc-a414-af5c1b2a67ce.woff") format("woff");
    } */
    @font-face{
        /* font-family:"Nexa Text W03 Light Italic"; */
        font-family:"Nexa Text";
        src:url("./nexa/5936839/98e2baa5-1f26-449f-a517-4f357e2a3d27.woff2") format("woff2"),url("./nexa/5936839/47b1d7b7-2777-4274-8754-0049565f725a.woff") format("woff");
        font-weight: 300;
        font-style: italic;
    }
    @font-face{
        /* font-family:"Nexa Text W03 Light"; */
        font-family:"Nexa Text";
        src:url("./nexa/5936847/5a6c73e9-2bc3-4296-b40d-fa7472483e34.woff2") format("woff2"),url("./nexa/5936847/a40417de-992d-4a78-b55a-eb636d39f65b.woff") format("woff");
        font-weight: 300;
        font-style: normal;
    }
    @font-face{
        /* font-family:"Nexa Text W03 Bold"; */
        font-family:"Nexa Text";
        src:url("./nexa/5936869/a2a58220-dbf7-437d-b078-abcd6d443e81.woff2") format("woff2"),url("./nexa/5936869/3dd37cb1-c5b6-45f0-ad5d-ad2475c24a93.woff") format("woff");
        font-weight: 700;
        font-style: normal;
    }
    @font-face{
        /* font-family:"Nexa Text W03 Bold Italic"; */
        font-family:"Nexa Text";
        src:url("./nexa/5937078/6fd87de4-8eb1-4abc-9226-a8bc4958fa08.woff2") format("woff2"),url("./nexa/5937078/ff0309fe-a6d6-4b6f-b8ba-e6716481d4f7.woff") format("woff");
        font-weight: 700;
        font-style: italic;
    }
    @font-face{
        /* font-family:"Nexa Text W03 Regular Italic"; */
        font-family:"Nexa Text";
        src:url("./nexa/5936877/bdad77cf-9af2-4446-b119-25bbc54beb6a.woff2") format("woff2"),url("./nexa/5936877/57a2213f-64b7-4a26-a796-258e1bd3c5df.woff") format("woff");
        font-weight: 400;
        font-style: normal;
    }
    @font-face{
        /* font-family:"Nexa Text W03 Regular"; */
        font-family:"Nexa Text";
        src:url("./nexa/5936885/8ab31a27-350d-4a65-9d31-1917c98702b1.woff2") format("woff2"),url("./nexa/5936885/bb27b9ea-c74f-419a-9d88-ddcc3540885a.woff") format("woff");
        font-weight: 400;
        font-style: normal;
    }
    @font-face{
        /* font-family:"Nexa W03 Light"; */
        font-family:"Nexa";
        src:url("./nexa/5936909/a7835909-964b-4e1d-8d32-e08455ea29f6.woff2") format("woff2"),url("./nexa/5936909/e40056bf-f6b5-40c7-a860-592680e5f02d.woff") format("woff");
        font-weight: 300;
        font-style: normal;
    }
    @font-face{
        /* font-family:"Nexa W03 Light Italic"; */
        font-family:"Nexa";
        src:url("./nexa/5937064/cbf41c32-56ea-4924-a8e2-e999662b6281.woff2") format("woff2"),url("./nexa/5937064/fd112f56-2b66-4379-9dab-0957c7cca44e.woff") format("woff");
        font-weight: 300;
        font-style: italic;
    }
    @font-face{
        /* font-family:"Nexa W03 Regular Italic"; */
        font-family:"Nexa";
        src:url("./nexa/5936913/973c1e82-e7fd-41b5-878e-fabd65698bc4.woff2") format("woff2"),url("./nexa/5936913/7af34620-1e36-4a7c-b753-a9e68bd45325.woff") format("woff");
        font-weight: 400;
        font-style: italic;
    }
    /* @font-face{
        font-family:"Nexa W03 Book Italic";
        src:url("./nexa/5936937/99806ebd-8843-4510-aab6-a7381452e300.woff2") format("woff2"),url("./nexa/5936937/9314f6a6-23c7-4bd3-aa9a-12c24dd8ea15.woff") format("woff");
    }
    @font-face{
        font-family:"Nexa W03 Book";
        src:url("./nexa/5936945/d9caf8ce-37f2-4e6d-a6ed-9fa7f6598fac.woff2") format("woff2"),url("./nexa/5936945/8cef3a9a-7c66-4dac-9ca7-6e5d6290dd9e.woff") format("woff");
    }*/
    /* @font-face{
        font-family:"Nexa W03 Bold Italic";
        src:url("./nexa/5936956/69c179a1-3189-474b-9ea3-c89c3fae6da6.woff2") format("woff2"),url("./nexa/5936956/7ff04a44-31a0-4985-b94a-007946f70a1c.woff") format("woff");
    } */

    @font-face{
        /* font-family:"Nexa W03 Extra Bold Italic"; */
        font-family:"Nexa";
        src:url("./nexa/5937031/f6d9644c-4604-4ae9-8e18-d90c372fadf9.woff2") format("woff2"),url("./nexa/5937031/6caabc87-12b4-483e-87a7-77284c7a0f60.woff") format("woff");
        font-weight: 800;
        font-style: italic;
    }
    @font-face{
        /* font-family:"Nexa W03 Extra Bold"; */
        font-family:"Nexa";
        src:url("./nexa/5937039/dfde392a-2b37-4ee1-9e49-30f72d105055.woff2") format("woff2"),url("./nexa/5937039/152e880b-67a5-4037-bad3-0e9af81ebd76.woff") format("woff");
        font-weight: 800;
        font-style: normal;
    }
    @font-face{
        /* font-family:"Nexa W03 Regular"; */
        font-family:"Nexa";
        src:url("./nexa/5937054/111aac77-9a21-430b-9a48-f40ca5cfc6e0.woff2") format("woff2"),url("./nexa/5937054/67844f90-63e1-4e0d-aa9b-edac18b17b4e.woff") format("woff");
        font-weight: 400;
        font-style: normal;
    }
    /* @font-face{
        font-family:"Nexa W03 Bold";
        src:url("./nexa/5937058/4d49d1fc-e850-47a6-b7cc-1ee2d319c7e0.woff2") format("woff2"),url("./nexa/5937058/0104ba42-6868-45b8-b7eb-5331c58aa79a.woff") format("woff");
    } */
    @font-face{
        /* font-family:"Nexa Text W03 Extra Bold Italic"; */
        font-family:"Nexa Text";
        src:url("./nexa/5937086/6f3ca5b8-9e72-4388-8d2d-e19b722fb215.woff2") format("woff2"),url("./nexa/5937086/4a6df33b-17ed-4078-ad2b-b962cf20fc2e.woff") format("woff");
        font-weight: 800;
        font-style: italic;
    }
    @font-face{
        /* font-family:"Nexa Text W03 Extra Bold"; */
        font-family:"Nexa Text";
        src:url("./nexa/5937128/c1fe3004-86b9-4c04-a22c-a685c7fe7069.woff2") format("woff2"),url("./nexa/5937128/d22c7efe-05f1-4c5f-a545-5d667e746f61.woff") format("woff");
        font-weight: 800;
        font-style: normal;
    }
